GEMINI_API_KEY=AIzaSyBPU8leE_2xoUprPqSh8fJPzmTqyyVjd-I

# Cloudinary Configuration (for video cloud storage)
CLOUDINARY_CLOUD_NAME=@dusaucow2
CLOUDINARY_API_KEY=186225514619958
CLOUDINARY_API_SECRET=WD3MMGNrELMyhlmNFtZuLiF-N-0